---
layout: default
title: stefan burke
---

<h1 class="{% include colour %}">stefan burke</h1>
<ul>
  <li class="{% include colour %}"><strong>what:</strong> programmer</li>
  <li class="{% include colour %}"><strong>where:</strong> manchester</li>
  <li class="{% include colour %}">
    <strong>email me:</strong> <a href="https://letterbird.co/stefan-burke">here</a>
  </li>
  <li class="{% include colour %}">
    <strong>mastodon:</strong>
    <a rel="me" href="https://social.lol/@stefan">@stefan@social.lol</a>
  </li>
  <li class="{% include colour %}">
    <strong>bluesky:</strong>
    <a rel="me" href="https://bsky.app/profile/stefn.co.uk">here</a>
  </li>
  <li class="{% include colour %}">
    <strong>signal:</strong>
    <a href="https://signal.me/#eu/V-Vqw0HT-W4afWSe7-eHk5tQPsfHmdyH27f1dxptIIb21UtA18xGeYah4BC0g3tO">stef.06</a>
  </li>
  <li class="{% include colour %}">
    <strong>sourcehut:</strong> <a href="https://git.sr.ht/~stfn/">~stfn</a>
  </li>
  <li class="{% include colour %}">
    <strong>github:</strong> <a href="https://github.com/stefan-burke">stefan-burke</a>
  </li>
  <li class="{% include colour %}">
    <strong>linkedin:</strong>
    <a href="https://www.linkedin.com/in/stef-burke/">boom</a>
  </li>
  <li class="{% include colour %}">
    <strong>cv:</strong> <a href="/cv">here</a>
  </li>
</ul>

<div class="smaller">
  <br />
  <p class="{% include colour %}"><strong>sites I run:</strong></p>
  <ul>
    {% for item in site.data.sites %}
    <li class="{% include colour %}">
      <strong>{{ item.name }}</strong>
      <a href="{{ item.href }}">visit</a>
      {% if item.source %}/ <a href="{{ item.source }}">source</a>{% endif %}
    </li>
    {% endfor %}
  </ul>
  <br />
  <p class="{% include colour %}">
    <strong>my setup:</strong>
    <a href="/setup">here</a>
  </p>
  <br />
  <p class="{% include colour %}"><strong>my career</strong></p>
  <ul>
    {% for job in site.data.jobs %}
    <li class="{% include colour %}">
      <strong>{{ job.name }}</strong> {% if job.current %}(current){% endif
      %}<br />
      {% if job.description %}{{ job.description | escape }}<br />{% endif %} {{
      job.start }}{% if job.end %}-{{ job.end }}{% else %}+{% endif %}, {{
      job.role }}
    </li>
    {% endfor %}
  </ul>
</div>
