---
layout: default
title: my setup
---

<h1 class="{% include colour %}">my setup</h1>
<ul class="setup">
  <li>
    <div class="{% include colour %}">
      <p>~/websites</p>
      <p>
        I &lt;3 the small web and using indie, open source, and ethically-minded
        providers
      </p>
    </div>
    <ul>
      <li class="{% include colour %}">
        <strong>git:</strong>
        <a href="https://git.sr.ht/~stfn/">sourcehut</a>
      </li>
      <li class="{% include colour %}">
        <strong>domains:</strong>
        <a href="https://www.webarchitects.coop/">web architects co-op</a>
      </li>
      <li class="{% include colour %}">
        <strong>static host:</strong>
        <a href="https://neocities.org/">neocities</a>
      </li>
      <li class="{% include colour %}">
        <strong>vps:</strong>
        <a href="https://1984.hosting/">1984</a>
      </li>
      <li class="{% include colour %}">
        <strong>email:</strong>
        <a href="https://yunohost.org/">yunohost</a>
      </li>
      <li class="{% include colour %}">
        <strong>smtp:</strong>
        <a href="https://addy.io/">addy.io</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="{% include colour %}">
      <p>192.168.0.0/24</p>
      <p>home automation, media serving, and ad-blocking</p>
    </div>
    <ul>
      <li class="{% include colour %}">
        <strong>nas:</strong> <a href="https://ubuntu.com/">ubuntu</a> (for now)
      </li>
      <li class="{% include colour %}">
        <strong>vpn:</strong>
        <a href="https://tailscale.com/">tailscale</a>
      </li>
      <li class="{% include colour %}">
        <strong>nextcloud:</strong>
        <a href="https://www.hetzner.com/storage/storage-share">hetzner</a>
      </li>
      <li class="{% include colour %}">
        <strong>dns:</strong>
        <a href="https://nextdns.io/">nextdns</a>
      </li>
      <li class="{% include colour %}">
        <strong>automation:</strong>
        <a href="https://www.home-assistant.io/">home assistant</a>
      </li>
      <li class="{% include colour %}">
        <strong>iot devices:</strong>
        <a href="https://tasmota.github.io/docs/">tasmota</a>
      </li>
      <li class="{% include colour %}">
        <strong>media:</strong>
        <a href="https://jellyfin.org/">jellyfin</a>
      </li>
      <li class="{% include colour %}">
        <strong>music organising:</strong>
        <a href="https://beets.io/">beets</a>
      </li>
      <li class="{% include colour %}">
        <strong>music playback:</strong>
        <a href="https://www.navidrome.org/">navidrome</a>
      </li>
    </ul>
  </li>
  <li>
    <div class="{% include colour %}">
      <p>~/</p>
      <p>I'm really enjoying learning NixOS</p>
    </div>
    <ul>
      <li class="{% include colour %}">
        <strong>pc / laptop:</strong> <a href="https://nixos.org/">nixos</a>
      </li>
      <li class="{% include colour %}">
        <strong>shell:</strong>
        <a href="https://fishshell.com/">fish</a>
      </li>
      <li class="{% include colour %}">
        <strong>environment:</strong>
        <a href="https://www.gnome.org/">gnome</a>
      </li>
      <li class="{% include colour %}">
        <strong>editor:</strong>
        <a href="https://vscodium.com/">vscodium</a>
      </li>
      <li class="{% include colour %}">
        <strong>browser:</strong>
        <a href="https://librewolf.net/">librewolf</a>
      </li>
    </ul>
  </li>
  <li class="{% include colour %}"></li>
</ul>
