<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta
    name="description"
    content="stefan burke - programmer - prestwich, manchester, uk"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🤘</text></svg>"
   />
  {% capture styles %} {% include style.scss %} {% endcapture %}
  <style>
    {{ styles | scssify }}
  </style>
  <link rel="canonical" href="https://stefn.co.uk{{ page.url }}" />
</head>
  <body>
    <div class="wrapper">{{ content }}</div>
  </body>
</html>
